<!doctype html>
<html>
<head>
  <title>Passport Authentication Demo</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <style>
    /*body { padding-top:80px; }*/
  </style>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Passport Authentication Demo</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/login">Login</a></li>
      <li class="active"><a href="#">Register</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2><span class="fa fa-user-plus"></span> Register</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      Registration form goes here...
    </div>
  </div>
</div>
</body>
</html>
